@import "./site/vendor/rfs";
@import "./site/abstracts/variables";
@import "./site/abstracts/mixins";

.field-group {
  position: relative;
}

.label {
  display: $label-display;
  font-size: $label-font-size;
  font-weight: $label-font-weight;
  margin-bottom: $label-margin;
  color: $label-color;

  @if $enable-label-required {
    &--required {
      &:after {
        content: "*";
        color: $danger;
      }
    }
  }

  .form-horizontal & {
    display: flex;
    align-items: center;
    justify-content: $label-form-horizontal-align;
    text-align: $label-form-horizontal-text-align;
    width: 100%;

    @include media-breakpoint-up(md) {
      margin: 0;
      min-height: $field-height;
    }
  }
}

.field-container,
.field_with_errors {
  position: relative;
}

$select-icon: red;

.field {
  --field-height: #{$field-height};

  height: var(--field-height);
  background-color: $field-bg;
  width: 100%;
  border: $field-border-width $field-border-style $field-border-color;
  border-radius: $field-radius;
  font-family: $field-font-family;
  color: $field-color;
  font-size: $field-font-size;
  @include transition($field-transition);
  height: 48px;
  padding: 8px 16px;
  background-color: $white;
  &:focus {
    border-color: $field-focus-border-color;
    background-color: #fbfbfb;
    outline: none;
  }

  @include placeholder($gray-300);

  &:read-only {
    // color: $muted;

    &:not[type="file"] {
      background-color: $field-readonly-bg;
    }
  }
  &--alt {
    background-color: #ffffff40;
    &::placeholder {
      color: $white !important;
    }
    &:not(:placeholder-shown) {
      background-color: $white;
    }
  }
  &--pill {
    border-radius: $radius-pill;
  }

  &--password {
    & + button {
      position: absolute;
      right: $field-padding-x;
      top: 50%;
      transform: translateY(-50%);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 24px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(escape-svg(
        "data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'   fill='#{$gray-600}'><path d='M3.0498 9.30971C3.00729 9.18276 2.9907 9.04858 3.00102 8.9151C3.01134 8.78163 3.04836 8.65158 3.10987 8.53268C3.17139 8.41378 3.25615 8.30844 3.35914 8.2229C3.46213 8.13737 3.58124 8.07339 3.70941 8.03475C3.83759 7.99611 3.97222 7.9836 4.10532 7.99796C4.23842 8.01232 4.36728 8.05326 4.48427 8.11835C4.60125 8.18344 4.70397 8.27136 4.78634 8.37689C4.86871 8.48242 4.92906 8.60342 4.9638 8.73271C7.0498 15.7187 16.9458 15.7197 19.0338 8.73671C19.0712 8.61077 19.1331 8.49344 19.2159 8.39141C19.2986 8.28938 19.4007 8.20465 19.5162 8.14207C19.6317 8.07948 19.7584 8.04026 19.8891 8.02664C20.0198 8.01303 20.1519 8.02528 20.2778 8.06271C20.4037 8.10013 20.5211 8.162 20.6231 8.24477C20.7251 8.32755 20.8098 8.4296 20.8724 8.54512C20.935 8.66063 20.9742 8.78735 20.9879 8.91802C21.0015 9.04869 20.9892 9.18077 20.9518 9.30671C20.588 10.5579 19.9709 11.721 19.1388 12.7237L20.4138 13.9997C20.596 14.1883 20.6967 14.4409 20.6945 14.7031C20.6922 14.9653 20.587 15.2161 20.4016 15.4015C20.2162 15.5869 19.9654 15.6921 19.7032 15.6944C19.441 15.6967 19.1884 15.5959 18.9998 15.4137L17.6888 14.1027C16.9813 14.6362 16.1997 15.0637 15.3688 15.3717L15.7258 16.7067C15.7639 16.8348 15.7759 16.9691 15.7612 17.1019C15.7465 17.2347 15.7053 17.3632 15.6401 17.4798C15.5749 17.5964 15.487 17.6988 15.3816 17.7808C15.2762 17.8629 15.1554 17.923 15.0264 17.9576C14.8974 17.9922 14.7627 18.0007 14.6304 17.9824C14.498 17.9641 14.3707 17.9194 14.2559 17.8511C14.1411 17.7828 14.0411 17.6922 13.9619 17.5846C13.8827 17.477 13.8259 17.3546 13.7948 17.2247L13.4308 15.8677C12.4838 16.0077 11.5158 16.0077 10.5688 15.8677L10.2048 17.2247C10.1737 17.3546 10.1168 17.477 10.0376 17.5846C9.95845 17.6922 9.8585 17.7828 9.7437 17.8511C9.6289 17.9194 9.50157 17.9641 9.36923 17.9824C9.2369 18.0007 9.10224 17.9922 8.97321 17.9576C8.84418 17.923 8.72339 17.8629 8.61797 17.7808C8.51256 17.6988 8.42466 17.5964 8.35947 17.4798C8.29427 17.3632 8.2531 17.2347 8.23839 17.1019C8.22367 16.9691 8.23571 16.8348 8.2738 16.7067L8.6308 15.3717C7.79985 15.0634 7.01829 14.6355 6.3108 14.1017L5.0008 15.4137C4.81329 15.6015 4.55887 15.7071 4.2935 15.7073C4.02814 15.7075 3.77357 15.6022 3.5858 15.4147C3.39802 15.2272 3.29243 14.9728 3.29224 14.7074C3.29205 14.4421 3.39729 14.1875 3.5848 13.9997L4.8598 12.7247C4.0758 11.7887 3.4498 10.6507 3.0478 9.31071L3.0498 9.30971Z'></path></svg>"
      ));
    }

    &[type="text"] {
      & + button {
        background-image: url(escape-svg(
          "data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke-width='2' stroke='#{$gray-600}' fill='none' stroke-linecap='round' stroke-linejoin='round'><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path d='M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0'></path><path d='M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6'></path></svg>"
        ));
      }
    }
  }

  &--prepend-icon,
  &--append-icon,
  &--select,
  &--calendar {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-size: 18px;

    &:read-only {
      background-color: $field-bg;
      // color: $muted;
    }
  }

  &--currency {
    padding-left: 54px;

    & + .field-text {
      position: absolute;
      left: 16px;
      top: 50%;
      @include translateY(-50%);
    }
  }

  &--prepend-icon {
    padding-left: 54px;
    background-position: center left 8px;

    & + .icon {
      position: absolute;
      top: 50%;
      @include translateY(-50%);
      left: $field-padding-x;
    }
  }

  &--append-icon {
    padding-right: 48px;
    background-position: center right 8px;

    & + svg {
      position: absolute;
      right: 16px;
      top: 50%;
      @include translateY(-50%);
    }
  }

  &--search {
    padding-left: 72px;
    padding-right: 116px;
    background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_995_1256" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"><rect width="24" height="24" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_995_1256)"><path d="M19.6 21L13.3 14.7C12.8 15.1 12.225 15.4167 11.575 15.65C10.925 15.8833 10.2333 16 9.5 16C7.68333 16 6.14583 15.3708 4.8875 14.1125C3.62917 12.8542 3 11.3167 3 9.5C3 7.68333 3.62917 6.14583 4.8875 4.8875C6.14583 3.62917 7.68333 3 9.5 3C11.3167 3 12.8542 3.62917 14.1125 4.8875C15.3708 6.14583 16 7.68333 16 9.5C16 10.2333 15.8833 10.925 15.65 11.575C15.4167 12.225 15.1 12.8 14.7 13.3L21 19.6L19.6 21ZM9.5 14C10.75 14 11.8125 13.5625 12.6875 12.6875C13.5625 11.8125 14 10.75 14 9.5C14 8.25 13.5625 7.1875 12.6875 6.3125C11.8125 5.4375 10.75 5 9.5 5C8.25 5 7.1875 5.4375 6.3125 6.3125C5.4375 7.1875 5 8.25 5 9.5C5 10.75 5.4375 11.8125 6.3125 12.6875C7.1875 13.5625 8.25 14 9.5 14Z" fill="%233D3D3D"/></g></svg>');
    background-size: 32px;
    background-position: center left 24px;
    background-repeat: no-repeat;
    height: 64px;

    &::placeholder {
      color: $gray;
    }
  }

  &--search-here {
    padding-left: 16px;
    padding-right: 16px;
    background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_995_1256" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"><rect width="24" height="24" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_995_1256)"><path d="M19.6 21L13.3 14.7C12.8 15.1 12.225 15.4167 11.575 15.65C10.925 15.8833 10.2333 16 9.5 16C7.68333 16 6.14583 15.3708 4.8875 14.1125C3.62917 12.8542 3 11.3167 3 9.5C3 7.68333 3.62917 6.14583 4.8875 4.8875C6.14583 3.62917 7.68333 3 9.5 3C11.3167 3 12.8542 3.62917 14.1125 4.8875C15.3708 6.14583 16 7.68333 16 9.5C16 10.2333 15.8833 10.925 15.65 11.575C15.4167 12.225 15.1 12.8 14.7 13.3L21 19.6L19.6 21ZM9.5 14C10.75 14 11.8125 13.5625 12.6875 12.6875C13.5625 11.8125 14 10.75 14 9.5C14 8.25 13.5625 7.1875 12.6875 6.3125C11.8125 5.4375 10.75 5 9.5 5C8.25 5 7.1875 5.4375 6.3125 6.3125C5.4375 7.1875 5 8.25 5 9.5C5 10.75 5.4375 11.8125 6.3125 12.6875C7.1875 13.5625 8.25 14 9.5 14Z" fill="%231F28B4"/></g></svg>');
    background-size: 20px;
    background-position: center right 16px;
    background-repeat: no-repeat;
    min-height: 48px;
    border-radius: 4px;

    &::placeholder {
      color: $gray;
    }
  }

  &--select {
    padding-right: 32px;
    background-position: center right 8px !important;
    background-repeat: no-repeat !important;
    background-size: 24px !important;
    background-image: url(escape-svg(
      "data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M7.41 8.58997L12 13.17L16.59 8.58997L18 9.99997L12 16L6 9.99997L7.41 8.58997Z' fill='#1F28B4' /></svg>"
    )) !important;

    &:focus {
      background-color: #cbdcff;
    }
  }

  &--calendar {
    padding-right: 32px;
    background-position: center right 8px;
    background-image: url(escape-svg(
      "data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><rect x='4' y='5' width='16' height='16' rx='2'></rect><line x1='16' y1='3' x2='16' y2='7'></line><line x1='8' y1='3' x2='8' y2='7'></line><line x1='4' y1='11' x2='20' y2='11'></line><line x1='11' y1='15' x2='12' y2='15'></line><line x1='12' y1='15' x2='12' y2='18'></line></svg>"
    ));
  }

  &:read-only {
    cursor: pointer;
    &:focus {
      // border-color: $border-color;
    }
  }

  &:disabled {
    background-color: $field-disabled-bg;
    // color: $muted;
  }

  &--xs {
    --field-height: #{$field-height-xs};
  }

  &--sm {
    --field-height: #{$field-height-sm};
  }

  &--lg {
    --field-height: #{$field-height-lg};
  }

  &--xl {
    --field-height: #{$field-height-xl};
  }

  &--points {
    & + button {
      position: absolute;
      top: 50%;
      @include translateY(-50%);
      right: 16px;

      &:hover {
        text-decoration: underline;
      }

      &:disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }

  .field-group--invalid & {
    border-color: $danger;
    background-color: $field-invalid-bg;
  }

  &--readonly {
    border-color: transparent;
    cursor: default;

    &:read-only {
      cursor: default;
    }

    &:focus {
      background-color: #fff;
      border-color: transparent;
    }
  }
}

.field-helper {
  color: $danger;
  font-size: 12px;
  margin-top: 2px;
  padding-left: 16px;
  position: relative;

  &:before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    content: "";
    height: 12px;
    width: 12px;
    display: inline-block;
    background-size: 12px;
    background-position: center;
    background-image: url(escape-svg(
      "data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='M8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8C16 12.4183 12.4183 16 8 16ZM7 6.9996C7 7.55188 7.44772 7.9996 8 7.9996C8.55229 7.9996 9 7.55188 9 6.9996V4.9996C9 4.44732 8.55229 3.9996 8 3.9996C7.44772 3.9996 7 4.44732 7 4.9996V6.9996ZM7 10.9996C7 11.5519 7.44772 11.9996 8 11.9996C8.55229 11.9996 9 11.5519 9 10.9996C9 10.4473 8.55229 9.9996 8 9.9996C7.44772 9.9996 7 10.4473 7 10.9996Z' fill='#D72C0D' /></svg>"
    ));
  }

  &:empty {
    display: none;
  }
}

textarea.field {
  resize: none;
  height: 100px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.tick {
  position: relative;
  --tick-size: 20px;
  display: flex;
  &__box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $field-border-color;
    height: var(--tick-size);
    width: var(--tick-size);
    background-color: $white;
    font-size: 32px;
    border-radius: 4px;
    margin-top: 4px;

    .icon {
      opacity: 0;
      pointer-events: none;
    }

    input[type="radio"] ~ & {
      border-radius: 50%;
    }
  }

  input {
    position: absolute;
    inset: 0;
    z-index: 2;
    cursor: pointer;
    height: 100%;
    width: 100%;
    margin: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    &:checked ~ .tick__box {
      border-color: $primary;
      background-color: $primary;
      color: #fff;

      .icon {
        opacity: 1;
      }
    }
  }

  &__box {
    & + .tick__label {
      margin-left: 8px;
    }
  }
}

.field-container--search {
  background-color: $white;
  border-radius: $radius;
  padding-bottom: 4px;

  label {
    font-size: 14px;
    font-weight: $font-weight-medium;
    color: $muted;
    padding-left: 16px;
  }
  .field {
    background-color: $white;
    border: 0;
    border-radius: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 30px;

    &:focus {
      background-color: $white;
    }
  }
}

.field-container--spinner {
  border-radius: $field-radius;
  border: 1px solid $field-border-color;
  padding: 2px;
  display: flex;

  .field {
    flex: 1 0 0%;
    width: 60px;
    height: 40px;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
    user-select: none;
    pointer-events: none;
    border-radius: 0;
    border: 0;
  }

  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    font-size: 20px;
    height: 40px;
    background-color: #efefef;

    &:hover {
      background: #eaeaea;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.field-group--deep {
  .label {
    color: $primary-50;
    @include font-size(map-get($font-sizes, h6));
  }

  .field {
    background: transparent;
    border: 0;
    border-bottom: 1px solid $gray-500;
    border-radius: 0;
    color: $white;

    &::placeholder {
      color: $gray-500;
    }
  }
}

.owner-type {
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;

  &__radio {
    position: relative;
    margin-left: -1px;

    input {
      margin: 0;
      opacity: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      cursor: pointer;

      @include hover {
        & + label {
          color: $tertiary;
        }
      }

      & + label {
        display: flex;
        flex-direction: column;
        @include rfs(216px, min-width);
        @include rfs(56px, min-height);
        @include rfs(16px, padding);
        justify-content: center;
        align-items: center;
        border: 1px solid $white;
        font-weight: $font-weight-bold;
        line-height: $line-height-sm;

        @media screen and (max-width: 768px) {
          padding-left: 8px;
          padding-right: 8px;
        }

        @media screen and (max-width: 620px) {
          font-size: 14px;
        }

        @media screen and (max-width: 570px) {
          font-size: 11px;
        }

        @media screen and (max-width: 500px) {
          font-size: 10px;
        }
      }

      &:checked {
        & + label {
          background-color: $tertiary;
          color: $white;
        }
      }
    }

    &:first-child {
      margin-left: 0;
      label {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }
    }

    &:last-child {
      label {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
  }
}

select.field {
  & * {
    color: $body-color;
  }
}

.field-container--time {
  position: relative;
  input {
    margin: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    z-index: 1;

    @include hover {
      & + label {
        color: $secondary;
      }
    }

    & + label {
      border: 1px solid $gray-300;
      line-height: 1.4;
      text-align: center;
    }

    &:checked {
      & + label {
        background-color: $secondary;
        border-color: $secondary;
        color: $white;
      }
    }
  }
}

.field-container--property {
  position: relative;
  input {
    margin: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    z-index: 1;

    @include hover {
      & + label {
        border-color: $primary-800;
      }
    }

    & + label {
      border: 1px solid $gray-300;
      line-height: 1.4;
      font-weight: $font-weight-medium;
      position: relative;
      padding-left: 28px;

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        @include translateY(-50%);
        border-radius: 100%;
      }

      &:before {
        border: 1px solid $gray-300;
        left: 16px;
        height: 16px;
        width: 16px;
      }

      &:after {
        height: 10px;
        width: 10px;
        background-color: $primary-800;
        left: 19px;
        opacity: 0;
        visibility: hidden;
      }
    }

    &:checked {
      & + label {
        background-color: $primary-50;
        border-color: $primary-800;

        &:before {
          border-color: $primary-800;
        }

        &:after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &--check {
    input {
      margin: 0;
      opacity: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      cursor: pointer;
      z-index: 1;

      @include hover {
        & + label {
          border-color: $primary-800;
        }
      }

      & + label {
        border: 1px solid $gray-300;
        line-height: 1.4;
        font-weight: $font-weight-medium;
        position: relative;
        padding-left: 24px;

        &:before,
        &:after {
          display: none;
        }

        .box {
          position: absolute;
          border: 1px solid $gray-300;
          left: 16px;
          height: 16px;
          width: 16px;
          border-radius: 4px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          top: 50%;
          @include translateY(-50%);
          color: #fff;
          font-size: 16px;

          svg {
            opacity: 0;
            visibility: hidden;
          }
        }

        &:before {
          border: 1px solid $gray-300;
          left: 16px;
          height: 16px;
          width: 16px;
        }

        &:after {
          height: 10px;
          width: 10px;
          background-color: $primary-800;
          left: 19px;
          opacity: 0;
          visibility: hidden;
        }
      }

      &:checked {
        & + label {
          background-color: $primary-50;
          border-color: $primary-800;

          .box {
            border-color: $primary-800;
            background-color: $primary-800;
            svg {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.field[type="text"]:disabled {
  pointer-events: none;
}
